# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart specific
/frontend/build/
/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.pub-cache/
/frontend/.pub/
/frontend/ios/Pods/
/frontend/ios/Podfile.lock
/frontend/ios/.symlinks/
/frontend/ios/Flutter/App.framework
/frontend/ios/Flutter/engine.xcframework
/frontend/ios/Flutter/flutter_assets/
/frontend/ios/Runner.xcworkspace/

# Python specific
/backend/venv/
/backend/__pycache__/
/backend/*.pyc

# Secret Keys & Credentials (CRITICAL)
# This will ignore your Firebase key file anywhere in the project
**/serviceAccountKey.json

# IDE / Editor specific
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS specific
.DS_Store
Thumbs.db
